<div class="logo">
  <img src="./assets/The_KaDeWe.jpg" alt="Company Logo" />
  <nav>
    <ul>
      <li><a href="#">Shop</a></li>
      <li><a href="#">My Orders</a></li>
      <li class="active"><a href="#">Users</a></li>
    </ul>
    <div class="icons">
      <img src="./assets/heart-icon.png" alt="Favorites" />
      <img src="/assets/bag-icon.png" alt="Bag" />
    </div>
  </nav>

  <!-- <div class="teaser-container" id="container">
    <div class="teaser-image">
      <img src="./assets/teaser.jpg" alt="teaser" />
    </div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="!errorMessage" style="background-color: aqua">
      

      <div class="teaser-info">
        <span class="close-icon" (click)="closeContainer()">&times;</span>
        <div>
          <h2>{{ teaser.title }}</h2>
          <p>{{ teaser.content }}</p>
          <p><strong>Email Date: </strong>{{ teaser.EmailDate }}</p>
          <p><strong>Season: </strong>{{ teaser.season }}</p>
          <p><strong>Price: </strong>{{ teaser.price }}</p>
          <p><strong>Status:</strong> {{ teaser.status }}</p>
          <p>
            <strong>Number of email receivers:</strong>
            {{ teaser.Number_of_email_receivers }}
          </p>
        </div>
      </div>

      <div class="button-container">
        <div *ngIf="userType === 'admin'">
          <button class="dashboard-button" routerLink="/admin-dashboard">
            Admin Dashboard
          </button>
        </div>

        <div *ngIf="userType === 'super admin'">
          <button class="dashboard-button" routerLink="/super-admin-dashboard">
            Super Admin Dashboard
          </button>
        </div>

        <div *ngIf="userType === 'branduser'">
          <button class="dashboard-button" routerLink="/user-dashboard">
            User Dashboard
          </button>
        </div>
      </div>
    </div>
  </div> -->
<div class="teaser-container">
  <div class="container text-start">
    <div class="row justify-content-md-center" >
      <div class="col-2 teaser-image ">
        <img src="./assets/teaser.jpg" alt="teaser" />
      </div>
      <div class="col-md-auto bg-white">
        <h6>MAGAZIN</h6>
        <p>Volle DIN A4 Seite</p>
      </div>
      
      <div class="col-md-auto" *ngIf="!errorMessage" >
      

        <div class="">
          <span class="close-icon" (click)="closeContainer()">&times;</span>
          <div>
            <p>Status: reserved until 08.06.2023</p>
            <br><br>
            <p>Ausgabe: 2/2023</p>
            <p>Preis: 4.500,00</p>
            <!-- <h2>{{ teaser.title }}</h2> -->
            <!-- <p>{{ teaser.content }}</p> -->
            <!-- <p><strong>Email Date: </strong>{{ teaser.EmailDate }}</p> -->
            <!-- <p><strong>Season: </strong>{{ teaser.season }}</p> -->
            <!-- <p><strong>Price: </strong>{{ teaser.price }}</p>
            <p><strong>Status:</strong> {{ teaser.status }}</p> -->
            <!-- <p>
              <strong>Number of email receivers:</strong>
              {{ teaser.Number_of_email_receivers }}
            </p> -->
          </div>
        </div>
  
        <div class="button-container">
          <div *ngIf="userType === 'admin'">
            <button class="dashboard-button" routerLink="/admin-dashboard">
              Admin Dashboard
            </button>
          </div>
  
          <div *ngIf="userType === 'super admin'">
            <button class="dashboard-button" routerLink="/super-admin-dashboard">
              Super Admin Dashboard
            </button>
          </div>
  
          <div *ngIf="userType === 'branduser'">
            <button class="dashboard-button" routerLink="/user-dashboard">
              User Dashboard
            </button>
          </div>
        </div>

      </div>


    </div>
  </div>

</div>
</div>
