<h1>Contact Page</h1>
<h1>My name is {{myUser.name}} and id is {{myUser.id}}</h1>
<button (click)="onNavigateToAbout()">Go to About Page</button>
<div>
    <a 
    [routerLink]="['/contact',2,'Akhter']"
    [queryParams]="{page:1,firstName:'shoaib'}"
    [fragment]="'load'" 
    >Get Details</a>
</div>
<div>
    <button (click)="giveQueryParams()">Give queryParams by TS File</button>
</div>

<br><br>
<div><a [routerLink]="['/contact',1,'Shoaib']">User 1</a></div>
<div><a [routerLink]="['/contact',2,'Akhter']">User 2</a></div>
<div><a [routerLink]="['/contact',3,'Qadri']">User 3</a></div>

<router-outlet></router-outlet>
