  img {
    // max-width: 100%;
    // height: auto;
    // width: auto;
  }
  
  .container {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .item {
    flex: 0 0 calc(33.33% - 10px);
    margin: 5px;
  }

  @media screen and (max-width: 768px) {
    
    .container {
      justify-content: center;
    }
    .item {
      flex: 0 0 100%;
      margin: 5px;
    }
    img {
      width: 80vw;
      height: auto;
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  