.logo {
    text-align: center;
  }
  
  .logo img {
    width: 100px;
    height: auto;
    margin-bottom: 1em;
  }
  
  .links{
    text-align: center;
  }
  
  nav{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
  }
  
  nav ul li {
    font-size: 16px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  nav ul li.active a {
    font-weight: bold;
  }
  
  .icons {
    position: absolute;
    top: 14%;
    right: 300px;
    transform: translateY(-50%);
    display: flex;
    gap: 20px;
  }
  
  .icons img {
    width: 20px;
    height: 20px;
  }
  
  .video_wall-container {
    position: relative;
    display: grid;
  grid-template-columns: auto 1fr;
    align-items: center;
    justify-content:start;
    padding: 20px;
    border: 1px solid #ccc;
    max-width: 800px; 
    max-height: 400px;
    margin: 0 auto;
    column-gap: 20px;
  }
  
  .video_wall-image {
    margin-right: 20px;
  }
  
  .video_wall-image img {
    width: 200px;
    height: auto;
  }
  
  .video_wall-info {
    display: grid;
    justify-content:flex-start;
  }
  
  .video_wall-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .video_wall-info p {
    text-align: left;
    line-height: 2;
    margin: 0;
  }
  
  .button-container {
    grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  }
  
  .button-container button{
    margin-top: 20px;
    background-color:black;
    color: white;
  
  }
  
  .button-container button:hover {
    background-color:#333;
  }
  
  .close-icon {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .close-icon:hover {
    color: red;
  }
  