<div>
    <ng-content select=".title"></ng-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, in vitae? Officiis aliquid, sit sed harum voluptatibus error quas, dolor natus quae voluptate delectus, perferendis nisi debitis molestiae animi repellat?</p>
    <ng-content select=".btn"></ng-content>

</div>
<!-- <div>
    <h1 class="title">Second Title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, in vitae? Officiis aliquid, sit sed harum voluptatibus error quas, dolor natus quae voluptate delectus, perferendis nisi debitis molestiae animi repellat?</p>
    <button class="btn">Second Button</button>
</div>
<div>
    <h1 class="title">Third Title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, in vitae? Officiis aliquid, sit sed harum voluptatibus error quas, dolor natus quae voluptate delectus, perferendis nisi debitis molestiae animi repellat?</p>
    <button class="btn">Third Button</button>
</div>
<div>
    <h1 class="title">Fourth Title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, in vitae? Officiis aliquid, sit sed harum voluptatibus error quas, dolor natus quae voluptate delectus, perferendis nisi debitis molestiae animi repellat?</p>
    <button class="btn">Fourth Button</button>
</div> -->
